

@{
    <img src="~/images/logo.jpg" alt="" />ViewData["Title"] = "Asignar espacio de parqueo";
}
<h2>@ViewData["Title"]</h2>
<center>

    <p></p>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1987.147368342359!2d-75.49370688718375!3d5.055894192787237!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e476564a7bfefc7%3A0xc1e29e2ea369afb6!2sUniversidad+de+Caldas!5e0!3m2!1ses!2sco!4v1565328702114!5m2!1ses!2sco" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h6></h6>
    <input type="text" name="CuadroText" />
    <input type="submit" name="submitbutton1" value="asignar espacio de parqueo" />
</center>
